@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.frais{
    width: 100%;
    height: 100%;
}

.f-title-frais{
    width: 100%;
    height: 240px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.title-discount-frais{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(94,94,74);
    letter-spacing: 5px;
}

.search-link-log-frais{
    width: 100%;
    height: 200px;
    display: flex;
}

.flex-it-frais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-o-b-s-c-frais{
    height: 100%;
    width: 25%;
}

.name-title-frais{
    height: 100%;
    width: 50%;
}

.search-log-bag-frais{
    height: 100%;
    width: 25%;
}

.bloc-s-o-b-s-c-frais{
    padding-left: 40px;
}

.style-title-text-frais{
    color: black;
    transition: all .3s;
    font-size: 18px;
}

.style-title-text-frais:hover{
    color: rgb(85, 85, 85);
    transition: all .3s;
}

.style-name-title-frais{
    width: 142px;
    height: 47px;
    border: 3px solid black;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.search-frais{
    width: 60%;
    height: 100%;
}

.search-text-frais{
    background: none;
    width: 200px;
    padding-left: 35px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    outline: none;
    border-color: black;
    font-size: 16px;
}

.search-text-frais:hover{
    border: 2.5px solid black;
}

.search-text-frais:focus{
    border: 2.5px solid black;
}

.icon-search-frais{
    position: relative;
    left: 10%;
    top: 3px;
    color: rgb(85, 85, 85);
    font-size: 25px;
}

.log-and-bad-frais{
    width: 40%;
    height: 100%;
}

/* Стилізація хрестика в search */

[type="search"]::-webkit-search-cancel-button {    
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background-image: url(../img/pngwing.com.png);
    background-size: 18px 18px;
}

.log-bag-frais{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-frais{
    padding-right: 25px;
}

.account-frais{
    color: rgb(85, 85, 85);
    font-size: 25px;
    margin-right: 5px;
    margin-top: 7px;
}

.mall-icon-frais{
    color: rgb(85, 85, 85);
    font-size: 25px;
    margin-top: 7px;
}

.photo-info-but-frais{
    width: 100%;
    height: 700px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.photo-1-frais{
    height: 100%;
    width: 1016px;
    background: url(../img/photo-1.webp) no-repeat center;
    background-size: cover;
    margin-left: 15%;
    z-index: 1;
}

.info-for-photo-1{
    width: 650px;
    height: 300px;
    z-index: 2;
    position: relative;
    top: -70%;
    left: 57%;
}

.title-info-frais{
    width: 100%;
    height: 13%;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 600;
}

.text-info-frais{
    width: 100%;
    height: 70%;
    font-size: 67px;
    letter-spacing: 5px;
}


.butt-info-frais{
    width: 100%;
}

.bloc-butt-frais{
    width: 145px;
    height: 40px;
    background-color: rgb(94,94,74);
    border: 1.5px solid rgb(94,94,74);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    font-size: 18px;
    cursor: pointer;
}

.bloc-butt-frais:hover{
    background-color: rgb(202, 202, 188);
    color: black;
    border: 1.5px solid black;
    transition: all .3s;
}

.shop-out-fav-frais{
    width: 100%;
    height: 285px;
    letter-spacing: 7px;
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-video-frais{
    width: 70%;
    margin-left: 15%;
    height: 690px;
    display: flex;
    justify-content: space-around;
}

.info-with-v-frais{
    width: 370px;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.video-frais{
    object-fit: cover;
    width: 665px;
    height: 665px;
}

.bloc-butt-w-frais{
    width: 145px;
    height: 40px;
    background-color: none;
    border: 1.5px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    font-size: 18px;
    color: black;
    margin-top: 40px;
}

.bloc-butt-w-frais:hover{
    color: rgb(255, 255, 255);
    transition: all .3s;
    background-color: rgb(94,94,74);
    border: 1.5px solid rgb(94,94,74);
}

.title-w-frais{
    font-size: 30px;
    letter-spacing: 5px;
}

.text-w-frais{
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
}

.img-probiot-frais{
    width: 70%;
    height: 840px;
    margin-left: 15%;
    margin-top: 5%;
}

.bloc-under-img-frais{
    width: 456px;
    height: 598px;
    background-color: rgb(94,94,74);
    z-index: 1;
    position: relative;
    top: -66%;
    left: -4%;
}

.img-soap-frais{
    width: 456px;
    height: 598px;
    background: url(../img/photo-2.webp) no-repeat center;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.info-soap-frais{
    width: 420px;
    height: 598px;
    position: relative;
    top: -142%;
    left: 55%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.bloc-card-frais{
    width: 100%;
    height: 740px;
    background-color: rgb(215,215,203);
    font-family: 'PT Sans Narrow', sans-serif;
}

.title-card-frais{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    letter-spacing: 5px;
}

.f-card-frais{
    height: 400px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.sele-frais{
    width: 70px;
    height: 25px;
    color: #fff;
    background-color: rgb(94,94,74);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
}

.card-1-frais{
    width: 300px;
    height: 100%;
    background: url(../img/card-1.webp) no-repeat center;
    background-size: cover;
    position: relative;
}

.card-2-frais{
    width: 300px;
    height: 100%;
    background: url(../img/card-2.webp) no-repeat center;
    background-size: cover;
    position: relative;
}

.card-3-frais{
    width: 300px;
    height: 100%;
    background: url(../img/card-3.webp) no-repeat center;
    background-size: cover;
    position: relative;
}

.card-4-frais{
    width: 300px;
    height: 100%;
    background: url(../img/card-4.webp) no-repeat center;
    background-size: cover;
    position: relative;
}

.card-img-frais::after{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    content: "Quick View";
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 17px;
    transform: translate(0px, 100%);
    opacity: 0;
    transition:all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-frais:hover::after{
    opacity: 1;
    transition:all .3s;
    transform: translate(0, 0);
}

.info-for-card-frais{
    width: 80%;
    margin-left: 10%;
    height: 140px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(215,215,203);
}

.shopt-text-frais{
    width: 19.6%;
    height: 90%;
    font-size: 18px;
}

.price-card-frais{
    display: flex;
    font-size: 15px;
    margin-top: 5px;
}

.price-card-1-frais{
    text-decoration: line-through;
}

.price-card-2-frais{
    margin-left: 12px;
}

.bloc-naturally-frais{
    width: 100%;
    height: 1400px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.bloc-for-info-natur-frais{
    width: 100%;
    height: 500px;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.bloc-info-natur-frais{
    width: 540px;
    height: 300px;
}

.title-natur-frais{
    height: 48px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}

.text-natur-frais{
    font-size: 20px;
    margin-top: 30px;
    height: 115px;
    text-align: center;
    line-height: 30px;
}

.bloc-butt-w-frais{
    width: 145px;
    height: 40px;
    background-color: none;
    border: 1.5px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    font-size: 18px;
    color: black;
    margin-top: 40px;
}

.bloc-butt-w-frais:hover{
    color: rgb(255, 255, 255);
    transition: all .3s;
    background-color: rgb(94,94,74);
    border: 1.5px solid rgb(94,94,74);
}


.position-butt-natur-frais{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: center;
}

.two-photo-natur-frais{
    width: 100%;
    height: 880px;
}

.photo-1-natue-frais{
    width: 842px;
    height: 524px;
    background: url(../img/natur-1.webp) no-repeat center;
    background-size: cover;
    position: relative;
    left: 27.5%;
}

.photo-2-natue-frais{
    width: 508px;
    height: 620px;
    background: url(../img/natur-2.webp) no-repeat center;
    background-size: cover;
    position: relative;
    left: 36%;
    top: -45%;
}

.the-frais-blog{
    width: 100%;
    height: 970px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(215,215,203,0.3);
}

.title-blog-frais{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 5px;
}

.three-photo-blog-frais{
    width: 50%;
    margin-left: 25%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-blog-1-frais{
    width: 270px;
    height: 100%;
    background: url(../img/blog-1.webp) no-repeat center;
    background-size: cover;
}

.photo-blog-2-frais{
    width: 270px;
    height: 100%;
    background: url(../img/blog-2.webp) no-repeat center;
    background-size: cover;
}

.photo-blog-3-frais{
    width: 270px;
    height: 100%;
    background: url(../img/blog-3.webp) no-repeat center;
    background-size: cover;
}

.info-blog-frais{
    width: 50%;
    height: 170px;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.bloc-for-blog-frais{
    width: 260px;
    height: 100%;
    transition: all 0.3;
    color: #000000;
}

.bloc-for-blog-frais:hover{
    color: rgb(97, 97, 97);
    transition: all 0.3;
}

.title-bloc-for-blog-frais{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
}

.text-bloc-for-blog-frais{
    font-size: 17px;
    line-height: 22px;
    margin-top: 10px;
}

.pos-blog-butt-frais{
    width: 50%;
    margin-left: 25%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-information-frais{
    height: 515px;
    width: 100%;
    display: flex;
}

.addit-title-frais{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-add-info-frais{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-title-addit-frais{
    font-family: 'PT Sans Narrow', sans-serif;
    width: 145px;
    height: 300px;
}

.pos-adds-info-frais{
    width: 850px;
    height: 320px;
}

.bloc-line-add-frais{
    width: 100%;
    height: 50%;
    display: flex;
}

.bloc-info-in-line-add-frais{
    width: 50%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.title-for-bloc-add-frais{
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 500;
}

.text-for-bloc-add-frais{
    margin-top: 10px;
    font-size: 16px;
}

.style-addit-frais{
    color: #000000;
    transition: all .3s;
}

.style-addit-frais:hover{
    color: rgb(97, 97, 97);
    transition: all .3s;
}

.bloc-text-addit-frais{
    margin-top: 3.5px;
}

.social-networks-icons-frias{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addit-icon-frais{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.by-frais{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    background-color: rgb(94,94,74);
    word-spacing: 3px;
}